/* SITE LAYOUT AND COLOTS VARIABLES */
$website-width: 1280px;

$main-color: #6393D2;
$highlight-color: #E94C88;
$main-background: #ffffff;
$light-color: #f4f4f4;
$medium-color: #cccccc;
$dark-color: #333333;
$bg-image: url('../img/homepage-img.jpg');

/* SITE FONT COLORS VARIABLES */
$menu-current: #E94C88;